* {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;   
	-khtml-user-select: none;   
	-moz-user-select: none;     
	-ms-user-select: none;
	user-select: none;
}
input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
}
.selected, .selected:before, .selected:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
.UpdateBlock {
	margin-bottom: 10px;
}
a,a:hover,a:active {
	width: 100%;
	text-decoration: none;
	color: var(--text_primary);
}
.FixedLayout--android {
	top: 0;
}
.WelcomeBlock .Avatar {
	padding-bottom: 20px;;
}
.Tappable--android .SimpleCell--android .PanelHeaderContext--opened  {
	margin-top: 60px !important;
}
.Div .SimpleCell {
	border-radius: 15px;
}
.Tappable{
	border-radius: 8px;
}
.content {
	width: 100%;
}
.TabbarItem__in:hover,.Switch:hover {
	cursor: pointer;
}
.Placeholder__in {
	padding: 12px 32px 24px;
}
.ModalCard__actions .Button {
	width: 97%;
}
@media screen and (width: 320px) {
	.ModalRoot__modal {
		width: 95%;
	}
}
.RichCell__caption {
	padding-bottom: 2px;
}
.modalPadding {
	margin-top: -20px;
}